/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


footer{
  position: fixed;
  bottom: 2em;
  right: 1em;
}

.user_icon{
  margin: 0 18px;
}

#leancanvas_form,#leancanvas_show{
  width: 95%;
  margin: 0 auto;
  .main_row{
    margin-bottom: 0px;
    .area_box{
      border: 1px solid #ccc;
      height: 500px;
    }
    .smallbox{
      height: 230px;
    }
  }

  .sub_row{
    span.num{
      top: 30%;
    }
    .moneybox{
      border: 1px solid #ccc;
      height:150px;
    }
  }
  .input-field{
    position:relative;
    span.num{
      position: absolute;
      right: 0;
      left: 0;
      font-size: 4em;
      font-weight: bold;
      text-align: center;
      color: blue;
    }
  }
}

#leancanvas_show{
  h4{
    font-size: 20px;
    border-bottom: 1px solid #ccc;
  }
}

.card-image{
  overflow: hidden;
  position: relative;
  img{
    position: absolute;
    margin-top: -2em;
  }
}
