<h2 class="center">みんなのリーンキャンバス </h2>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-text="リーンキャンバスメーカー | Web上でリーンキャンバスを描くことが出来る。10秒でリーンキャンバスを作成しよう。 #リーンキャンバスメーカー">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="fb-like" data-href="http://www.leancanvasmaker.com" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
<div class="row">
<% @plans.each do |plan| %>

  <div class="card small col m6">
    <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag plan.image.url if plan.image.url != nil %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= plan.title %></span>
      <% if plan.image.url == nil %>
        <p>まだリーンキャンバスの画像がありません。</p>
      <% end %>
      <p><%= link_to "詳細を見る", plan_path(plan) %></p>
    </div>
  </div>
<% end %>
</div>
<%# end %>
