  <nav class="nav-extended">
    <div class="nav-wrapper">
      <%= link_to 'LeanCanvasMaker', root_path,class: 'brand-logo' %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
      <%= link_to edit_user_registration_path, {:class => "user_icon right"} do %>
        <i class="material-icons">account_circle</i>
      <% end %>
    </div>
  </nav>

<script type="text/javascript">
 $(".button-collapse").sideNav();
</script>